<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roundnet survey</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
</head>
<body>
    <header class="pure-menu-horizontal" id="header">
        <div class="pure-menu-heading">Roundnet survey</div>
    </header>
    <div>
        {% block content %}{% endblock %}   
    </div>
</body>
</html>